/* src/styles/App.css */

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dark-mode {
    background-color: #1e1e1e;
    color: #c7c7c7;
  }
  
  .light-mode {
    background-color: #f9f9f9;
    color: #333;
  }
  
  .main-content {
    margin-left: 250px; /* Sidebar width */
    padding: 20px;
    flex: 1;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
    }
  }
  
  /* Ensure main content is not hidden under the sidebar or header */
.main-content {
    margin-left: 250px;
    margin-top: 60px;
    padding: 20px;
    transition: margin-left 0.3s, margin-top 0.3s;
  }
  
  /* Mobile view adjustments */
  @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
      margin-top: 60px; /* Adjust based on header height */
    }
  }
  
  
  
  
  
  