/* src/components/Sidebar.css */

.sidebar {
    width: 200px;
    background-color: lightslategray;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 4px rgba(0,0,0,0.1);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s;
    
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 15px 0;
  }
  
  .sidebar li a {
    font-size: 18px;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar li a:hover {
    background-color: #34495e;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
  }
  
  

