/* Base styles for sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #10a9eb;
    color: black;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 1000;
    
    
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-toggle {
    position: absolute;
    top: 20px;
    right: -50px;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    padding: 20px;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .sidebar-toggle {
        right: 10px;
    }
}

.profile{
    height:60px;
    width:60px;
    border-radius: 50px;
    margin-right: 10px;
   
    
}
h1{
    color:white;
}

.sidebar-pro{
    display:flex;
    flex-direction: row;
    margin: 30px;
}



