:root {
    --header-bg: #ffffff;
    --header-color: #000000;
    --sidebar-bg: #f4f4f4;
    --sidebar-color: #333333;
    --footer-bg: #ffffff;
    --footer-color: #000000;
    --widget-bg: #ffffff;
    --widget-color: #000000;
    --btn-bg: #007bff;
    --btn-color: #ffffff;
}

.dark-mode {
    --header-bg: #333333;
    --header-color: #ffffff;
    --sidebar-bg: #10a9eb;
    --sidebar-color: #dddddd;
    --footer-bg: #333333;
    --footer-color: #ffffff;
    --widget-bg: #444444;
    --widget-color: #dddddd;
    --btn-bg: #444444;
    --btn-color: #ffffff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
    background-color: var(--header-bg);
    color: var(--header-color);
    position: relative;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mode-toggle {
    padding: 10px 20px;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    border: none;
    cursor: pointer;
}

/* Hide profile image and details */
.profile-img, .profile-details {
    display: none;
}
